singularity{
    enabled=true
}

process  {
    withName: getFastq  {
        container="docker://evolbioinfo/sratoolkit:v2.5.7"
    }
    
    withName: getChr {
        container = "docker://evolbioinfo/ubuntu:v2.5.7"
    }

    withName: genomeIndex {
        container = "docker://evolbioinfo/star:v2.7.6a"
    }

    withName: genomeAnnot {
        container = "docker://evolbioinfo/ubuntu:v2.5.7"
    }

    withName: mapFastq {
        container = "docker://evolbioinfo/star:v2.7.6a"
        container = "docker://evolbioinfo/samtools:v1.11"
    }
}   