singularity {
    enabled=true
    autoMounts = true
    runOptions = '--home $HOME:/mnt/Reprohackathon/'
}

process  {
    withName: dumpFastq  {
        container="docker://evolbioinfo/sratoolkit:v2.5.7"
    }

    withName: genomeIndex {
        container = "docker://evolbioinfo/star:v2.7.6a"
        cpus = 16
        memory = 62.GB
    }

    withName: mapFastq {
        container = "docker://evolbioinfo/star:v2.7.6a"
        cpus = 16
	memory = 62.GB
    }
 
    withName: samFastq {
        container = "docker://evolbioinfo/samtools:v1.11"
    }
    
    withName: getCount_feature{
        container = "docker://evolbioinfo/subread:v2.0.1"
    }
    
    withName: deseq {
	container="docker://evolbioinfo/deseq2:v1.28.1"
    }
    
    withName: plot {
	container="docker://genomicpariscentre/ggplot2:latest"    
    }
}   


